<template>
  <div id="app">
    <fd-notifications />
    <router-view />
  </div>
</template>

<style>
#app, html {
  width: 600px;
  height: 600px;
  overflow: hidden;
}
.fd-notifications__group {
  z-index: 999999 !important;
  position: absolute;
  bottom: 40px;
  max-width: 80vw !important;
  width: 80vw !important;
  left: 10vw;
}
</style>
