<template>
  <fd-container style="height: 100%; display: flex; flex-direction: column">
    <fd-shell-bar>
      <fd-shell-bar-group position="start">
        <fd-icon :name="customIcon" size="xl" style="padding-right: 10px" />
        <fd-shell-bar-product :productTitle="customTitle" />
      </fd-shell-bar-group>
      <fd-shell-bar-group position="end">
        <fd-shell-bar-actions>
          <fd-shell-bar-action>
            <NewCategoryDialog />
          </fd-shell-bar-action>
          <fd-shell-bar-action>
            <fd-form-item>
              <fd-shell-bar-action-button
                @click="$router.push('Search')"
                icon="search"
              />
            </fd-form-item>
          </fd-shell-bar-action>
          <fd-shell-bar-action>
            <fd-popover with-arrow placement="top-end">
              <template #control="{ toggle }">
                <fd-shell-bar-action-button @click="toggle" icon="menu" />
              </template>
              <template #default="{ hide }">
                <fd-menu canHaveAddon @select="hide">
                  <fd-menu-list>
                    <AboutDialog />
                    <SettingsDialog />
                  </fd-menu-list>
                </fd-menu>
              </template>
            </fd-popover>
          </fd-shell-bar-action>
        </fd-shell-bar-actions>
      </fd-shell-bar-group>
    </fd-shell-bar>
    <fd-tabs v-model="activeTab">
      <fd-tab-item
        v-for="(category, categoryIndex) in bookmarksArray"
        :class="category.name === 'Recently' ? 'recent' : 'content'"
        :key="'category-' + categoryIndex + '-' + category.name"
        :label="category.name"
        :name="'category-' + categoryIndex + '-' + category.name"
      >
        <div class="category-container">
          <CategoryActions
            :key="'category-' + categoryIndex"
            :categoryName="category.name"
          />
          <fd-list-group class="category-list">
            <div
              v-for="(bookmark, bookmarkIndex) in category.children"
              :key="'bookmark' + bookmarkIndex"
              :href="bookmark.url"
            >
              <div v-if="bookmark.childrenType === 'multiURL'">
                <fd-popover style="width: 100%" placement="bottom">
                  <template #control="{ toggle }">
                    <div @click="toggle">
                      <fd-list-group-item>
                        {{ bookmark.name }}
                        <fd-icon
                          style="padding-left: 5px"
                          name="navigation-down-arrow"
                        />
                        <EditBookmarkDialog
                          :componentKey="`category-${categoryIndex}-bookmark-${bookmarkIndex}-multi`"
                          :category="category.name"
                          :bookmarkToEdit="bookmark"
                          slot="action"
                        />
                      </fd-list-group-item>
                    </div>
                  </template>
                  <template #default="{ hide }">
                    <fd-menu @select="hide">
                      <fd-menu-list>
                        <div
                          v-for="(children, index) in bookmark.children"
                          :key="bookmark.name + 'multiurl-child' + index"
                          :title="children.url"
                          @click="openBookmark($event, bookmark, children.url)"
                          @click.middle="
                            openBookmark($event, bookmark, children.url)
                          "
                        >
                          <fd-menu-item>{{ children.name }}</fd-menu-item>
                        </div>
                      </fd-menu-list>
                    </fd-menu>
                  </template>
                </fd-popover>
              </div>
              <div
                v-else
                @click="openBookmark($event, bookmark)"
                @click.middle="openBookmark($event, bookmark)"
              >
                <fd-list-group-item :title="bookmark.url">
                  {{ bookmark.name }}
                  <EditBookmarkDialog
                    :componentKey="`category-${categoryIndex}-bookmark-${bookmarkIndex}-single`"
                    :category="category.name"
                    :bookmarkToEdit="bookmark"
                    slot="action"
                  />
                </fd-list-group-item>
              </div>
            </div>
          </fd-list-group>
        </div>
      </fd-tab-item>
    </fd-tabs>
  </fd-container>
  <!-- </transition> -->
</template>

<script>
import { mapGetters, mapMutations, mapState } from "vuex";
import AboutDialog from "@/popup/components/AboutDialog.vue";
import NewCategoryDialog from "@/popup/components/NewCategoryDialog.vue";
import CategoryActions from "@/popup/components/CategoryActions.vue";
import EditBookmarkDialog from "@/popup/components/EditBookmarkDialog.vue";
import SettingsDialog from "@/popup/components/SettingsDialog.vue";

export default {
  name: "Home",
  components: {
    AboutDialog,
    SettingsDialog,
    NewCategoryDialog,
    EditBookmarkDialog,
    CategoryActions
  },
  computed: {
    ...mapGetters(["customTitle", "customIcon", "bookmarksArray"]),
    ...mapState(["bookmarks"])
  },
  data() {
    return {
      settings: false,
      activeTab: "category-0-Recently",
      activeTabSetupWizard: "fromWeb",
      search: "",
      editBookmark: {
        bookmark: {},
        name: "",
        url: "",
        children: []
      },
      newBookmark: {
        name: "",
        category: "",
        type: ["singleURL"],
        url: "",
        children: []
      }
    };
  },
  mounted() {
    this.addKeyListener();
  },
  beforeDestroy() {
    this.removeKeyListener();
  },
  methods: {
    ...mapMutations([
      "setBookmarks",
      "writeBookmarksToStorage",
      "addKeyListener",
      "removeKeyListener"
    ]),
    openBookmark(event, bookmark, childrenUrl) {
      if (
        this.bookmarksArray[0].children.some(
          (item) => item.name === bookmark.name
        )
      ) {
        this.bookmarksArray[0].children.forEach((item) => {
          if (item.name === bookmark.name) {
            item.clicked = item.clicked + 1;
          }
        });
      } else {
        bookmark.clicked = 1;
        this.bookmarksArray[0].children.push(bookmark);
      }
      function compareBookmarksByClicks(a, b) {
        if (a.clicked < b.clicked) {
          return 1;
        }
        if (a.clicked > b.clicked) {
          return -1;
        }
        return 0;
      }
      this.bookmarksArray[0].children = this.bookmarksArray[0].children.sort(
        compareBookmarksByClicks
      );
      this.setBookmarks(this.bookmarks);
      this.writeBookmarksToStorage();
      if (event && (event.ctrlKey || event.metaKey || event.which === 2)) {
        chrome.tabs.create({
          url: childrenUrl || bookmark.url
        });
      } else {
        chrome.tabs.update({
          url: childrenUrl || bookmark.url
        });
      }
      window.close();
    }
  }
};
</script>

<style scoped>
.category-container {
  height: 485px;
  display: flex;
  flex-direction: column;
}

.category-list {
  overflow-y: auto;
}

.fd-tabs {
  overflow: auto;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fd-tabs__item {
  padding: 14px 0px 14px 14px;
  white-space: nowrap;
  align-self: center;
}

.fd-tabs__item > a {
  padding: 0px;
}

.fd-list-group > div {
  cursor: pointer;
}

.fd-identifier--types > span {
  margin-right: 10px;
}

.fd-shellbar__title {
  width: 305px !important;
}

.fd-modal:focus {
  outline: none !important;
}
</style>
