<template>
  <div @keydown.esc="exitToHomeView">
    <fd-container style="height: 100%; display: flex; flex-direction: column">
      <fd-shell-bar style="padding-left: 5px">
        <fd-shell-bar-group position="start">
          <fd-shell-bar-actions style="width: 100%">
            <fd-shell-bar-action style="min-width: 100% !important">
              <fd-input-group-search>
                <template #input>
                  <input
                    type="search"
                    placeholder="Search"
                    compact
                    ref="searchInput"
                    v-model="searchInput"
                    @keyup="search(searchInput)"
                  />
                </template>
                <template #clear>
                  <fd-input-group-clear-button
                    @click="exitToHomeView"
                    compact
                  />
                </template>
              </fd-input-group-search>
            </fd-shell-bar-action>
          </fd-shell-bar-actions>
        </fd-shell-bar-group>
      </fd-shell-bar>
      <div class="content">
        <fd-container class="no-result-text" v-if="foundItems.length === 0">
          <span v-if="searchInput">No results.</span>
          <span v-else>Type to search.</span>
        </fd-container>
        <transition-group
          v-else
          name="staggered-fade"
          tag="ul"
          class="search-list"
          v-bind:css="false"
          v-on:before-enter="beforeEnter"
          v-on:enter="enter"
          v-on:leave="leave"
        >
          <div
            v-for="(bookmark, bookmarkIndex) in foundItems"
            :key="'bookmark' + bookmarkIndex"
          >
            <div v-if="bookmark.childrenType === 'multiURL'">
              <fd-popover style="width: 100%" placement="bottom">
                <template #control="{ toggle }">
                  <div @click="toggle">
                    <fd-list-group-item>
                      {{ bookmark.name }} ({{ bookmark.category }})
                      <fd-icon
                        style="padding-left: 5px"
                        name="navigation-down-arrow"
                      />
                      <EditBookmarkDialog
                        :componentKey="`bookmark-${bookmarkIndex}-multi`"
                        :category="bookmark.category"
                        :bookmarkToEdit="bookmark"
                        slot="action"
                      />
                    </fd-list-group-item>
                  </div>
                </template>
                <template #default="{ hide }">
                  <fd-menu @select="hide">
                    <fd-menu-list>
                      <div
                        v-for="(children, index) in bookmark.children"
                        :key="bookmark.name + 'multiurl-child' + index"
                        @click="openBookmark($event, bookmark, children.url)"
                        @click.middle="
                          openBookmark($event, bookmark, children.url)
                        "
                      >
                        <fd-menu-item>{{ children.name }}</fd-menu-item>
                      </div>
                    </fd-menu-list>
                  </fd-menu>
                </template>
              </fd-popover>
            </div>
            <div
              v-else
              class="single-url-item"
              @click="openBookmark($event, bookmark)"
              @click.middle="openBookmark($event, bookmark)"
            >
              <fd-list-group-item>
                {{ bookmark.name }} ({{ bookmark.category }})
                <EditBookmarkDialog
                  :componentKey="`bookmark-${bookmarkIndex}-single`"
                  :category="bookmark.category"
                  :bookmarkToEdit="bookmark"
                  slot="action"
                />
              </fd-list-group-item>
            </div>
          </div>
        </transition-group>
      </div>
    </fd-container>
  </div>
</template>

<script>
import Velocity from "velocity-animate";
import { mapGetters, mapMutations, mapState } from "vuex";
import EditBookmarkDialog from "@/popup/components/EditBookmarkDialog.vue";

export default {
  name: "Search",
  components: {
    EditBookmarkDialog
  },
  computed: {
    ...mapGetters(["bookmarksArray"]),
    ...mapState(["bookmarks"]),
    foundItems() {
      return this.search(this.searchInput);
    }
  },
  data() {
    return {
      searchInput: ""
    };
  },
  mounted() {
    this.$refs.searchInput.focus();
  },
  methods: {
    ...mapMutations(["setBookmarks", "writeBookmarksToStorage"]),
    exitToHomeView() {
      this.searchInput = "";
      this.$router.push("/");
    },
    search(searchTerm) {
      const tmpFoundItems = [];
      if (!searchTerm || searchTerm.trim() === "") {
        return tmpFoundItems;
      }
      this.bookmarksArray.slice(1).forEach((category) => {
        category.children.forEach((bookmark) => {
          if (bookmark.name.toLowerCase().includes(searchTerm.toLowerCase())) {
            tmpFoundItems.push({ ...bookmark, category: category.name });
            return;
          }
          if (
            bookmark.url &&
            bookmark.url.toLowerCase().includes(searchTerm.toLowerCase())
          ) {
            tmpFoundItems.push({ ...bookmark, category: category.name });
            return;
          }
          if (bookmark.childrenType && bookmark.childrenType === "multiURL") {
            let skip = false;
            bookmark.children.forEach((multiUrlItem) => {
              if (skip) {
                return;
              }
              if (
                multiUrlItem.name
                  .toLowerCase()
                  .includes(searchTerm.toLowerCase())
              ) {
                tmpFoundItems.push({ ...bookmark, category: category.name });
                skip = true;
                return;
              }
              if (
                multiUrlItem.url
                  .toLowerCase()
                  .includes(searchTerm.toLowerCase())
              ) {
                tmpFoundItems.push({ ...bookmark, category: category.name });
                skip = true;
              }
            });
          }
        });
      });
      this.searchTermValue = searchTerm;
      return tmpFoundItems;
    },
    beforeEnter: function(el) {
      el.style.opacity = 0;
      el.style.height = 0;
    },
    enter: function(el, done) {
      var delay = el.dataset.index * 150;
      setTimeout(function() {
        Velocity(el, { opacity: 1, height: "41px" }, { complete: done });
      }, delay);
    },
    leave: function(el, done) {
      var delay = el.dataset.index * 150;
      setTimeout(function() {
        Velocity(el, { opacity: 0, height: 0 }, { complete: done });
      }, delay);
    },
    openBookmark(event, bookmark, childrenUrl) {
      if (
        this.bookmarksArray[0].children.some(
          (item) => item.name === bookmark.name
        )
      ) {
        this.bookmarksArray[0].children.forEach((item) => {
          if (item.name === bookmark.name) {
            item.clicked = item.clicked + 1;
          }
        });
      } else {
        bookmark.clicked = 1;
        this.bookmarksArray[0].children.push(bookmark);
      }
      function compareBookmarksByClicks(a, b) {
        if (a.clicked < b.clicked) {
          return 1;
        }
        if (a.clicked > b.clicked) {
          return -1;
        }
        return 0;
      }
      this.bookmarksArray[0].children = this.bookmarksArray[0].children.sort(
        compareBookmarksByClicks
      );

      this.setBookmarks(this.bookmarks);
      this.writeBookmarksToStorage();
      if (event && (event.ctrlKey || event.metaKey || event.which === 2)) {
        chrome.tabs.create({
          url: childrenUrl || bookmark.url
        });
      } else {
        chrome.tabs.update({
          url: childrenUrl || bookmark.url
        });
      }
      window.close();
    }
  }
};
</script>

<style scoped>
.search-list {
  height: 550px;
  overflow-y: auto;
}

.no-result-text {
  max-height: 100%;
  display: flex;
  width: 100%;
  padding-top: 250px;
  justify-content: center;
  align-items: center;
}

.single-url-item {
  cursor: pointer;
}

.fd-modal:focus {
  outline: none !important;
}
</style>
