<template>
  <div>
    <fd-container centered>
      <fd-section>
        <template #header>
          <fd-section-header>
            <fd-section-title
              >Welcome to the bookmarks extension!</fd-section-title
            >
          </fd-section-header>
        </template>
        <fd-panel v-if="loading">
          <fd-spinner />
        </fd-panel>
        <fd-panel v-else>
          <p>Please select how to bootstrap your bookmark extension 😊</p>
          <fd-tabs v-model="activeTabSetupWizard">
            <fd-tab-item label="From Web" name="fromWeb">
              <p>
                Please set a bookmarks URL where the bookmarks can be retrieved
                from.
              </p>
              <fd-field-set>
                <fd-form-item>
                  <fd-form-label>Bookmark Source URL</fd-form-label>
                  <fd-input
                    v-model="bookmarksSourceUrl"
                    placeholder="https://address.to/your/bookmarks.json"
                  />
                </fd-form-item>
              </fd-field-set>
              <fd-button
                styling="emphasized"
                @click="loadBookmarksFromUrl"
                :state="bookmarksSourceUrl === '' ? 'disabled' : 'normal'"
                >Load bookmarks from web</fd-button
              >
            </fd-tab-item>
            <fd-tab-item v-if="!isFirefox" label="From File" name="fromFile">
              <p>
                Please select a bookmarks file to bootstrap the bookmark
                extension.
              </p>
              <fd-field-set> </fd-field-set>
              <fd-button styling="emphasized" @click="openFileUploader"
                >Load bookmarks from file</fd-button
              >
              <input
                id="fileUploadInput"
                style="visibility: hidden"
                accept="application/json"
                type="file"
                @change="handleFiles"
                ref="file"
              />
            </fd-tab-item>
            <fd-tab-item label="From scratch" name="fromScratch">
              <p>Don't want to import any bookmarks?</p>
              <fd-button styling="emphasized" @click="setDefaultBookmarks"
                >Start without bookmarks</fd-button
              >
            </fd-tab-item>
          </fd-tabs>
        </fd-panel>
      </fd-section>
    </fd-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "Setup",
  data() {
    return {
      activeTabSetupWizard: "fromWeb",
      loading: false,
      bookmarksSourceUrl:
        "https://gitlab.com/ehni/test-repo/-/raw/master/bookmarks.json"
    };
  },
  computed: {
    ...mapState(["bookmarks"]),
    isFirefox() {
      return !chrome.app;
    }
  },
  watch: {
    bookmarks: function(newValue, oldValue) {
      if (newValue !== null) {
        this.loading = false;
        this.$router.push("/");
      }
    }
  },
  methods: {
    ...mapActions(["loadBookmarks"]),
    loadBookmarksFromUrl(event) {
      this.loading = true;
      chrome.runtime.sendMessage(
        { msg: "fetchBookmarkFromUrl", url: this.bookmarksSourceUrl },
        (data) => {
          this.loadBookmarks(data);
        }
      );
    },
    setDefaultBookmarks(event) {
      this.loading = true;
      const defaultBookmarks = {
        customTitle: "Best Teams Bookmarks!!",
        customIcon: "database",
        bookmarks: []
      };
      this.loadBookmarks(defaultBookmarks);
    },
    openFileUploader(event) {
      document.getElementById("fileUploadInput").click();
    },
    handleFiles(event) {
      this.loading = true;
      const file = document.getElementById("fileUploadInput").files[0];

      if (file && window.FileReader) {
        const reader = new FileReader();
        reader.onload = (evn) => {
          const data = JSON.parse(evn.target.result);
          this.loadBookmarks(data);
        };
        reader.readAsText(file);
      }
    }
  }
};
</script>

<style>
</style>
