<template>
  <div>
    <fd-menu-item v-fd-open-modal:about>
      <span
        slot="addon"
        class="sap-icon--sys-help"
      />About
    </fd-menu-item>
    <fd-modal
      name="about"
      ref="about"
      :title="getMessage('aboutDialogTitle')"
    >
      <template>
        <div>
          <p>{{ getMessage("aboutDialogThanksMessage") }} </p>
          <p>{{ getMessage("aboutDialogQuestionForFeedback") }}</p>
          <p>
            {{ getMessage("aboutDialogCallToActionFeedback") }}
            <fd-link @click="openRepositoryUrl">{{ repositoryUrl }}</fd-link>
          </p>
        </div>
      </template>
    </fd-modal>
  </div>
</template>

<script>
export default {
  name: "AboutDialog",
  data() {
    return {
      repositoryUrl: "https://gitlab.com/ehni/bookmark-extension-vue"
    };
  },
  methods: {
    openRepositoryUrl() {
      chrome.tabs.create({
        url: this.repositoryUrl
      });
    },
    getMessage(messageKey) {
      return browser.i18n.getMessage(messageKey);
    }
  },
  computed: {
    // aboutTitle() {
    //   return browser.i18n.getMessage("aboutDialogTitle");
    // }
  }
};
</script>

<style scoped>
</style>
