<template>
  <div
    style="width: 100%; padding-bottom: 8px; display: flex; justify-content:start;"
    v-if="categoryName !== 'Recently'"
  >
    <NewBookmarkDialog :category="categoryName" />
    <fd-popover boundary="viewport">
      <template #control="{toggle}">
        <fd-button
          style="margin-left: 16px;"
          @click="toggle"
          styling="emphasized"
          type="negative"
          icon="delete"
          compact
        >Delete category</fd-button>
      </template>
      <template #default="{hide}">
        <fd-container v-fd-padding:small>
          <fd-button
            @click="deleteCategory(categoryName); hide;"
            styling="emphasized"
            type="negative"
            icon="delete"
            compact
          >Delete category "{{ categoryName }}"</fd-button>
        </fd-container>
      </template>
    </fd-popover>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import NewBookmarkDialog from "@/popup/components/NewBookmarkDialog.vue";
export default {
  name: "CategoryActions",
  components: {
    NewBookmarkDialog
  },
  props: { categoryName: String },
  data() {
    return {
    };
  },
  computed: {
  },
  methods: {
    ...mapActions(["deleteCategory"])
  }
};
</script>

<style scoped>
</style>
