<template>
  <div>
    <fd-button
      style="margin-left: 16px;"
      @click="openModal"
      styling="emphasized"
      icon="add"
      compact
    >Add bookmark</fd-button>
    <fd-modal
      :name="'newBookmark-'+category"
      :ref="'newBookmark-'+category"
      @close="closeDialog"
      :modal-style="{ width: '100vw'}"
      title="Add new bookmark"
    >
      <template>
        <fd-field-set>
          <fd-form-item>
            <fd-form-label>Name</fd-form-label>
            <fd-input
              v-model="name"
              placeholder="Name of the bookmark"
            />
          </fd-form-item>
          <fd-form-item v-if="children.length === 1">
            <fd-form-label>Url</fd-form-label>
            <fd-input
              v-model="children[0].url"
              placeholder="https://your.bookmark.com"
            />
          </fd-form-item>
          <table
            v-else
            class="fd-table"
          >
            <thead>
              <tr>
                <th scope="col">
                  Name
                </th>
                <th scope="col">
                  URL
                </th>
                <th scope="col">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in children"
                :key="index"
              >
                <td>
                  <fd-input
                    v-model="item.name"
                    placeholder="Name"
                  />
                </td>
                <td>
                  <fd-input
                    v-model="item.url"
                    placeholder="https://your.bookmark.com"
                  />
                </td>
                <td>
                  <fd-button
                    icon="delete"
                    type="negative"
                    @click.stop="removeUrlItem(index)"
                  ></fd-button>
                </td>
              </tr>
            </tbody>
          </table>
          <fd-form-item>
            <fd-button
              @click="addUrlItem()"
              icon="add"
            >Add URL</fd-button>
          </fd-form-item>
        </fd-field-set>
      </template>
      <template #actions="{ close }">
        <fd-button
          @click="addBookmark({name, category, children}); closeDialog();"
          styling="emphasized"
          :state="createButtonState"
        >Create</fd-button>
        <fd-button
          style="margin-left: 8px;"
          @click="close"
        >Cancel</fd-button>
      </template>
    </fd-modal>
  </div>
</template>

<script>
import { mapActions, mapMutations } from "vuex";
export default {
  name: "NewBookmarkDialog",
  props: { category: String },
  data() {
    return {
      name: "",
      children: [{ name: "", url: "" }]
    };
  },
  computed: {
    nameMissing() {
      return this.name.trim() === "";
    },
    urlMissing() {
      return this.children[0].url.trim() === "";
    },
    createButtonState() {
      if (this.nameMissing || this.urlMissing) {
        return "disabled";
      }
      return "";
    }
  },
  methods: {
    ...mapMutations(["addKeyListener", "removeKeyListener"]),
    ...mapActions(["addBookmark"]),
    openModal() {
      this.removeKeyListener();
      this.name = "";
      this.children = [{ name: "", url: "" }];
      this.$fdModal.open(`newBookmark-${this.category}`);
    },
    closeDialog() {
      this.addKeyListener();
      this.$fdModal.close(`newBookmark-${this.category}`);
    },
    addUrlItem() {
      this.children.push({ name: "", url: "" });
      // const newChildrenEntry = { name: "", url: "" };
      // this.children = [...this.children, newChildrenEntry];
    },
    removeUrlItem(index) {
      this.children.splice(index, 1);
    },
    getMessage(messageKey) {
      return browser.i18n.getMessage(messageKey);
    }
  }
};
</script>

<style scoped>
</style>
