<template>
  <div>
    <fd-button
      @click="openModal"
      icon="add"
      compact
    > Category</fd-button>
    <fd-modal
      name="newCategory"
      ref="newCategory"
      title="Add new category"
    >
      <template>
        <fd-field-set>
          <fd-form-item>
            <fd-form-label>Category name</fd-form-label>
            <fd-input
              v-model="categoryName"
              :state="categoryAlreadyExistent ? 'invalid' : ''"
              @keyup.enter="createCategoryIfNotExistentAndNotEmpty"
              placeholder="Name of the new category"
            />
            <template #message>
              <fd-form-message
                v-if="categoryAlreadyExistent"
                type="error"
              >
                This category already exists.
              </fd-form-message>
            </template>
          </fd-form-item>
        </fd-field-set>
      </template>
      <template #actions="{ close }">
        <fd-button
          @click="createCategory(categoryName); closeDialog();"
          styling="emphasized"
          :disabled="canCreateCategory"
        >Create</fd-button>
        <fd-button
          style="margin-left: 8px;"
          @click="close"
        >Cancel</fd-button>
      </template>
    </fd-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  name: "NewCategoryDialog",
  data() {
    return {
      categoryName: ""
    };
  },
  methods: {
    ...mapMutations(["addKeyListener", "removeKeyListener"]),
    ...mapActions(["createCategory"]),
    createCategoryIfNotExistentAndNotEmpty() {
      if (this.canCreateCategory) {
        return;
      }
      this.createCategory(this.categoryName);
      this.closeDialog();
    },
    openModal() {
      this.removeKeyListener();
      this.categoryName = "";
      this.$fdModal.open("newCategory");
    },
    closeDialog() {
      this.addKeyListener();
      this.$fdModal.close("newCategory");
    },
    getMessage(messageKey) {
      return browser.i18n.getMessage(messageKey);
    }
  },
  computed: {
    ...mapGetters(["bookmarksArray"]),
    categoryAlreadyExistent() {
      return this.bookmarksArray && this.bookmarksArray.some(
        (item) => item.name.toLowerCase() === this.categoryName.trim().toLowerCase()
      );
    },
    canCreateCategory() {
      return this.categoryAlreadyExistent || this.categoryName.trim() === "";
    }
  }
};
</script>

<style scoped>
</style>
