<template>
  <div>
    <fd-menu-item v-fd-open-modal:settings>
      <span
        slot="addon"
        class="sap-icon--settings"
      />Settings
    </fd-menu-item>
    <fd-modal
      name="settings"
      ref="settings"
      title="Settings"
    >
      <template #default="{ close }">
        <div>
          <fd-field-set>
            <fd-form-item>
              <fd-form-label>Reset extension and go back to welcome screen</fd-form-label>
              <fd-button @click="resetBookmarks(); close();">Reset Bookmarks</fd-button>
            </fd-form-item>
          </fd-field-set>
          <fd-field-set v-if="bookmarks.bookmarksJsonPath">
            <fd-form-item>
              <fd-form-label>Reload bookmarks from URL</fd-form-label>
              <fd-button
                v-if="!reloading"
                @click="reloadBookmarks"
              >Reload Bookmarks</fd-button>
              <fd-button v-else>
                <fd-spinner />
              </fd-button>
            </fd-form-item>
          </fd-field-set>
          <fd-field-set>
            <fd-form-item>
              <fd-form-label>Export bookmarks to .json file</fd-form-label>
              <fd-button @click="exportBookmarksToJson()">Export bookmarks</fd-button>
            </fd-form-item>
          </fd-field-set>
        </div>
      </template>
    </fd-modal>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
export default {
  name: "AboutDialog",
  data() {
    return {
      reloading: false
    };
  },
  methods: {
    ...mapMutations(["showNotification"]),
    ...mapActions(["loadBookmarks", "resetBookmarks", "exportBookmarksToJson"]),
    reloadBookmarks() {
      this.reloading = true;
      chrome.runtime.sendMessage({ msg: "fetchBookmarkFromUrl", url: this.bookmarks.bookmarksJsonPath }, (data) => {
        if (data.failed) {
          this.showNotification({ content: "Error loading bookmarks.", type: "error" });
          this.reloading = false;
          return;
        }
        this.loadBookmarks(data);
        setTimeout(() => {
          this.closeDialog();
          this.reloading = false;
        }, 600);
      });
    },
    getMessage(messageKey) {
      return browser.i18n.getMessage(messageKey);
    },
    closeDialog() {
      this.$fdModal.close("settings");
    }
  },
  computed: {
    ...mapState(["bookmarks"])
    // aboutTitle() {
    //   return browser.i18n.getMessage("aboutDialogTitle");
    // }
  }
};
</script>

<style scoped>
</style>
